.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-custom-form {
    margin-right: 5px;
    margin-top: 5px;
}

.list-group-item a {
    display: block;
    text-decoration: none;
}

.dropdown {
    padding: 8px 0px;
    /*margin-right: 20px;*/
}

.icon {
    max-width: 100px;
    max-height: 100px;
}

.navbar-brand {
    margin-top: 8px;
}
